div(id="content", class="pmd-content content-area dashboard", style="padding-bottom: 20px;")
	div(class="container-fluid")
		div(class=", component-box")
			div(class="pmd-card pmd-z-depth")
				div(class="pmd-tabs")
					div(class="pmd-tab-active-bar", style="width: 104px; left: 0px;")
					ul(class="nav nav-tabs", role="tablist", style="width: 323.047px;")
						li(role="presentation", class="active")
							a(href="#all", aria-controls="all", role="tab", data-toggle="tab", aria-expanded="true", onclick="fn.currentTab = 'all';") Semua
						li(role="presentation", class="")
							a(href="#keluar", aria-controls="keluar", role="tab", data-toggle="tab", aria-expanded="false", onclick="fn.currentTab = 'out';") Keluar
						li(role="presentation", class="")
							a(href="#masuk", aria-controls="masuk", role="tab", data-toggle="tab", aria-expanded="false", onclick="fn.currentTab = 'in';") Masuk
				
				div(class="pmd-card-body")
					div(class="tab-content")
						div(role="tabpanel", class="tab-pane active", id="all") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									div(class="pmd-table-card")
										+trxfilters('all')
										table(class="table pmd-table")
											thead
												tr
													th(width="30") #
													th Tanggal
													th Tipe Transaksi
													th Kode Produk
													th Nama Produk
													th Qty
													th Dibuat
													th Keterangan
														input(type="hidden", id="")
											tbody(id="transactions-all-content")
									
						div(role="tabpanel", class="tab-pane", id="keluar") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									div(class="pmd-table-card")
										+trxfilters('out')
										table(class="table pmd-table")
											thead
												tr
													th(width="30") #
													th Tanggal
													th Tipe Transaksi
													th Kode Produk
													th Nama Produk
													th Qty
													th Dibuat
													th Keterangan
											tbody(id="transactions-out-content")
												tr
							
						div(role="tabpanel", class="tab-pane", id="masuk")
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									div(class="pmd-table-card")
										+trxfilters('in')
										table(class="table pmd-table")
											thead
												tr
													th(width="30") #
													th Tanggal
													th Tipe Transaksi
													th Kode Produk
													th Nama Produk
													th Qty
													th Dibuat
													th Keterangan
											tbody(id="transactions-in-content")

button(data-target="#modal-form-transaction", data-toggle="modal", class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary", style="position: fixed; bottom: 20px; right: 20px;")
	i(class="material-icons pmd-sm") add

+modalTrx
