<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dashboard
        link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/vendor/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/css/propeller.min.css")
        link(rel="stylesheet", href="/vendor/css/propeller-theme.css")
        link(rel="stylesheet", href="/vendor/css/propeller-admin.css")
    body
        //- start content
        include components/header.pug
        include components/menu.pug
        include components/products-content.pug
        include components/modals.pug
        //- end content
        script(src="/vendor/js/jquery-1.12.2.min.js")
        script(src="/vendor/js/bootstrap.min.js")
        script(src="/vendor/js/propeller.min.js")