//- Users
div(tabindex="-1" class="modal fade" id="form-user" style="display: none;" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				h2(class="pmd-card-title-text" style="min-width: 300px;") Tambah User
			
			div(class="modal-body")
				form(class="form-horizontal")
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Username
						input(type="text" class="mat-input form-control" id="username" value="")
						//- span(class="help-text") required! 
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Email
						input(type="email" class="mat-input form-control" id="email" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Role
						select(class="mat-input form-control" id="role")
							option(value="user") User
							option(value="admin") Admin
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Password
						input(type="password" class="mat-input form-control" id="password" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Konfirmasi Password
						input(type="text" class="mat-input form-control" id="confirm" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(class="control-label") Keterangan
						textarea(required class="form-control", id="description")
					
			div(class="pmd-modal-action pmd-modal-bordered text-right")
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button") Save changes
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button") Discard

//- Transactions
div(tabindex="-1" class="modal fade" id="form-transaction" style="display: none;" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				h2(class="pmd-card-title-text" style="min-width: 300px;") Tambah Transaksi
			
			div(class="modal-body")
				form(class="form-horizontal")
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Type
						select(class="mat-input form-control" id="role")
							option(value="user") Trx Keluar
							option(value="admin") Trx Masuk
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Tanggal
						input(type="date" class="mat-input form-control" id="date" value="")
						//- span(class="help-text") required! 

					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Produk
						select(class="mat-input form-control pmd-select2" id="product")
							option(value="Prd 1") Product 1
							option(value="Prd 2") Product 2
							option(value="Prd 3") Product 3
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Qty
						input(type="number" class="mat-input form-control" id="qty" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(class="control-label") Keterangan
						textarea(required class="form-control", placeholder="Kosongkan jika tidak ada", id="description")
					
			div(class="pmd-modal-action pmd-modal-bordered text-right")
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button") Save changes
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button") Discard

//- Products
div(tabindex="-1" class="modal fade" id="form-product" style="display: none;" aria-hidden="true") 
	div(class="modal-dialog") 
		div(class="modal-content") 
			div(class="modal-header") 
				h2(class="pmd-card-title-text" style="min-width: 300px;") Tambah Produk
			
			div(class="modal-body") 
				form(class="form-horizontal")
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Kode Produk
						input(type="text" class="mat-input form-control" id="prdID" value="")
						//- span(class="help-text") required! 
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Nama Produk
						input(type="text" class="mat-input form-control" id="prdName" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(for="first-name") Stok
						input(type="number" class="mat-input form-control" id="prdQty" value="")
					
					div(class="form-group pmd-textfield pmd-textfield-floating-label")
						label(class="control-label") Keterangan
						textarea(required, class="form-control", placeholder="Kosongkan jika tidak ada", id="prdDescription")
					
			div(class="pmd-modal-action pmd-modal-bordered text-right")
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button") Save changes
				button(data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button") Discard
